
.article_back_button {
    position: fixed;
    border: 5px solid white;
    color: white;
    text-align: center;
    text-align-last: auto;
    padding: 15px 16px;
    margin: 20px 20px;
    font-size: 15px;
    text-decoration: none;
}

.article_back_button:hover {
    border: 5px solid #8e04aa;
}

.article_last_modified {
    position: fixed;
    color: white;
    text-align: center;
    text-align-last: auto;
    padding: 15px 16px;
    margin: 10px 10px;
    font-size: 15px;
    text-decoration: none;
    right: 0px;
}

p {
    width: 85%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-indent: 60px;
    line-height: 20px;
}

.article_page_image_attachment {
    width: 50%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page_content p:nth-child(even) {
    margin-bottom: 70px;
}
