
.table {
    margin-top: 60px; 
    color: white; 
    margin-left: auto; 
    margin-right: auto; 
    border: 1px solid white; 
    margin-bottom: 50px;
    border-spacing: 5px 20px;
}

th {
    padding: 15px;
    border: 5px solid white;
}

td {
    padding: 15px;
    border: 1px solid white;
}
