
.progress_bar_container {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
    margin-top: 30px;
    z-index: -1;
}

.progress_bar {
    background: #222;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 500px;
    z-index: -1;
}

.progress_bar_value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
    z-index: -1;
}

.progress_precentage {
    color: white;
    margin-left: 20px;
    font-size: 20px;
}

@keyframes load {
    0% { width: 0; }
    100% { width: 6%; }
}

.table {
    margin-top: 30px; 
    color: white; 
    margin-left: auto; 
    margin-right: auto; 
    border: 1px solid white; 
    margin-bottom: 50px;
    border-spacing: 5px 20px;
}

th {
    padding: 15px;
    border: 5px solid white;
}

td {
    padding: 15px;
    border: 1px solid white;
}
