
.page_content p:nth-child(odd) {
    font-size: 20px;
}

.page_content p:nth-child(even) {
    margin-bottom: 70px;
}

p {
    width: 85%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-indent: 60px;
    line-height: 20px;
}