
.footer {
    background-color: #333;
    
    bottom: 0;
    color: white;

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;

    display: flex;
    justify-content: center;
}

.footer_content {
    display: flex;
    margin-bottom: 10px;
}

.footer_list {
    list-style-type: none;
}

.footer_list li a {
    display: block;
    color: white;
    text-align-last: auto;
    padding: 5px 0px;
    text-decoration: none;
    font-size: 15px;
}

.footer_list li a:hover {
    color: #8e04aa;
}

.signing {
    bottom: 0;
    color: white;
    background-color: #333;
    
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
}
