
body {
    margin: 0;
    background-color: #000;
    font-family: "Lucida Console", sans-serif;
}

.page_title {
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    font-size: 60px;
}

.page_content {
    width: 60%;
    margin: auto;
    color: white;
}

.seal_line {
    width: 80%;
}

.bottom_seal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}