
body {
    margin:0;
    background-color: #000;
    font-family: "Lucida Console", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

th, td {
    padding: 15px;
    border: 1px solid white;
}
