body {
    margin:0;
    background-color: #000;
    font-family: "Lucida Console", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

.navbar_title {
    display: block;
    color: white;
    text-align: center;
    text-align-last: auto;
    padding: 2px 80px 2px 50px;
    margin: 20px;
    text-decoration: none;
    font-size: 40px;
    font-weight: 1000;
    font-variant: small-caps;
}

.navbar_button {
    display: block;
    color: white;
    text-align: center;
    text-align-last: auto;
    padding: 15px 16px;
    margin: 20px 5px;
    text-decoration: none;
    font-size: 15px;
}


.navbar_button:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #8e04aa;
}

th, td {
    padding: 15px;
}