
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
}

.navbar_logo-title_base {
    display: inline-block; 
    float: left;
}

.navbar_pages_base {
    display: inline-block; 
    float: none;
}

.navbar_socials_base {
    display: inline-block; 
    float: right;
    margin-right: 20px;
}

.navbar_logo {
    padding: 0px;
    margin: 7px 0px 0px 50px;
}

.navbar_title {
    display: block;
    color: white;
    text-align: center;
    text-align-last: auto;
    padding: 2px 0px 2px 20px;
    margin: 20px 50px 20px 0px;
    text-decoration: none;
    font-size: 40px;
    font-weight: 1000;
    font-variant: small-caps;
}

.navbar_button {
    display: block;
    color: white;
    text-align: center;
    text-align-last: auto;
    padding: 15px 16px;
    margin: 20px 10px;
    text-decoration: none;
    font-size: 15px;
}


.navbar_button:hover:not(.active) {
    animation-name: hover;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
    
    transform: scale(1.1);
}

.active {
    background-color: #8e04aa;
    transform: scale(1.1);
}

.fab {
    float: right;
    color: white;
    padding: 8px 9px;
    margin: 20px 5px;
    font-size: 30px;
}

.fab:hover {
    animation-name: hover;
    animation-duration: 600ms;
    animation-fill-mode: forwards;
    
    transform: scale(1.1);
}

@keyframes hover {
    100% {
        background-color: #111;
    }
}

.navbar div li {
    float: left;
}
